@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
    body {
        background: url(/imagens/fundo3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      
.header{
    width: 100%;
    height: 100vh; 
    padding-left: 11%;
    padding-right: 8%;
    position: relative;

    background-image: url(/imagens/TServicesBranco.png);
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 92% 54%;
}
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 15px;
    border-bottom: 1px solid #fff;
  }
  
  .top-nav ul {
    background-image: url(/imagens/Tbranco.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 120%;
    background-position: 10px 1px;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  
  .top-nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .top-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  .top-nav ul li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
  }
  
  .top-nav ul li:hover::before {
    width: 100%;
  }
  button:hover {
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  
    }
  .top-nav button{
      background-color: #ff0000;
      color: white;
      border: none;
      padding: 10px 22px; 
      font-size: 18px;
      border-radius: 50px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
  }


.logo{
    width: 70px;
    cursor
    : pointer;
}

.text-box{
    margin-top: 15%;
    font-size: 38px;
    color: #fff;
    position: relative;
    z-index: 1;
    
}
.text-box h1{
    font-weight: 500;
    font-size: 86px;
    max-width: 700px;
    line-height: 95px;
    margin-top: 15px;
    margin-bottom: 30px; 

}
.logoo{
        position: absolute;
        top: 150px;
        left: -510px;
        width: 100%;
        max-height: 200px; 
        object-fit: contain; 
      }

    .logo-imagem {
      width: 80px; 
      margin-right: 30px;
      margin-bottom: 10px; 
      height: auto; 
      float: left; 
    }
    .logof {
        max-width: 100px; 
      }      

    .footer{
        width: 100%;
        background-color: #0a141d;
    }
    .footer .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
    }
    .footer .grupo-1 .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .grupo-1 .box figure img{
        width: 250px;
    }
    .footer .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .footer .grupo-1 .box p{
        color: #efefef;
        margin-bottom: 10px;
    }
    .footer .grupo-1 .rede-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
    }
    .footer .grupo-1 .rede-social a:hover{
        color: aqua;
    }
    .footer .grupo-2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    .footer .grupo-2 small{
        font-size: 15px;
    }
    @media screen and (max-width:800px){
        .footer .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap:30px;
            padding: 35px 0px;
        }
    }
